:root {
  --color-gray-10: #ccc9c1;
  --color-red-10: #cc0c39;
  --color-azul-escuro: #131921;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p, a {
  margin: 0;
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

body {
  background: #e3e6e6;
}

.navbar {
  background: var(--color-azul-escuro);
  padding: 0;
}

.container-logo-amazon img {
  width: 100px;
  object-fit: contain;
}

.navbar-toggler-icon {
  color: white;
}

.nav-item-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.nav-item-icon {
  width: 25px;
  height: 25px;
  color: white;
}

.caixa-pesquisa {
  background: #febd69;
  border-radius: 8px;
  overflow: hidden;
}

main {
  width: 100%;
}

.texto-header-normal {
  font-size: 14px; 
  color: white;
}

.texto-header-bold {
  font-size: 16px;
  font-weight: bold;
  color: white
}

#section-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%
}

.container-section-carroussel {
  width: 1500px;
}

/*classes para controlar a posição*/
.carousel-control-prev {
  align-items: start;
  left: -5%;
  top: 30%;
}

.carousel-control-next {
  align-items: start;
  top: 30%;
  right: -5%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 50px;
  height: 50px;
}
/*---------------*/

.carousel-item img {
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
  mask-repeat: no-repeat;
  mask-size: cover;
}

.container-section-cards {
  width: 1500px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.translate-section-cards {
  transform: translateY(-85%);
}

.tamanho-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: white;
  width: 23%;
  padding: 12px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.texto-card {
  font-size: 20px;
  font-weight: bold;
}

.ofertas-linha {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.produto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  height: 150px;
}

.container-img-produto {
  max-width: 150px;
}

.container-img-produto img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.img-celular {
  max-width: 150px;
  max-height: 120px;
}

.desconto {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.desconto span { /*css combinators (space)*/
  background: var(--color-red-10);
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
}

.desconto p {
  color: var(--color-red-10);
}

#section-categoria {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-section-categoria {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 100px;
  background: white;
  width: 1500px;
  padding: 16px;
  position: relative;
}

.categoria-header {
  font-size: 26px;
  font-weight: bold;
}

.categoria-body {
  display: flex;
  align-items: center;
  padding: 0 24px;
  /* overflow-x: auto; */
  /* overflow-y: hidden; */
  /* scroll-behavior: smooth; */
}

.categoria-carousel {
  display: flex;
  align-items: center;
  gap: 16px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.categoria-item {
  position: relative;
  scroll-behavior: smooth;
}

.container-img-categoria {
  width: 220px;
  height: 220px;
}

.container-img-categoria img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nome-categoria {
  color: var(--color-azul-escuro);
  text-align: center;
  background: white;
  width: 100%;
  padding: 12px 20px;
  top: 80%;
  position: absolute;
}

.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 1px 1px 10px 0.4px #c6c6c6;
  position: absolute;
  background: white;
}

.btn-voltar {
  left: 0;
  z-index: 10;
}

.btn-avancar {
  right: 0;
  z-index: 10;

}

footer {
  width: 100%;
  margin-top: 50px;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--color-azul-escuro);
  padding: 16px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  width: 1500px;
  padding: 16px
}

.container-termos-politicas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.texto-termos-politicas > p {
  color: #ccc9c1;
}

.container-logo-amazon-footer img{
  width: 160px;
  object-fit: contain;
}

.container-redes-sociais {
  display: flex;
  gap: 30px;
}

.footer-icon img{
  width: 40px;
  height: 40px;
  object-fit: contain;
  cursor: pointer;
}

.container-FAQ {
  display: flex;
  justify-content: space-between;
}

.items-FAQ {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.title-FAQ {
  font-weight: bold;
  color: white;
}

.body-FAQ {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.body-FAQ a{
  color: #d1dddd;
  font-size: 14px
}
